.item {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  cursor: pointer;
  user-select: none;
  padding: 0.75rem 0;
}

.checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  min-width: 20px;
  margin: 0;
  border: 2px solid var(--moon);
  border-radius: 3px;
  position: relative;

  &:checked {
    background: transparent;
    border-color: var(--moon);

    &::after {
      content: '';
      position: absolute;
      left: 5px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid var(--moon);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.label {
  line-height: 1.5;
  padding-top: 1px;
}
