@theme inline {
  --*: initial;

  /* Colors */
  --color-moon: var(--moon);
  --color-moon-rgb: var(--moon-rgb);
  --color-coal: var(--coal);
  --color-coal-rgb: var(--coal-rgb);
  --color-lavender: var(--lavender);
  --color-lavender-rgb: var(--lavender-rgb);

  /* Border radius */
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;

  /* Other */
  --spacing: 1px;
}
