@theme inline {
  --*: initial;

  /* Colors */
  /* --color-sun: var(--sun);
  --color-coal: var(--coal);
  --color-snow: var(--snow); */
  --color-moon: var(--moon);
  --color-lilac: var(--lilac);
  /* --color-stone: var(--stone);
  --color-smoke: var(--smoke);
  --color-ocean: var(--ocean);
  --color-autumn: var(--autumn);
  --color-forest: var(--forest);
  --color-jungle: var(--jungle);
  --color-sunset: var(--sunset);
  --color-mirror: var(--mirror);
  --color-volcano: var(--volcano);
  --color-titanium: var(--titanium); */

  /* Border radius */
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;

  /* Other */
  --spacing: 1px;
}
