@theme inline {
  --*: initial;

  /* Colors */
  --color-moon: var(--moon);
  --color-coral: var(--coral);

  /* Border radius */
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;

  /* Other */
  --spacing: 1px;
}
