.trigger {
  display: inline-flex;
  cursor: help;
  text-decoration: underline dotted var(--lavender);
  text-decoration-thickness: 2px;
}

.trigger:hover {
  color: var(--lavender);
}

[data-theme='dark'] .trigger {
  text-decoration-color: var(--lavender);
}

[data-theme='dark'] .trigger:hover {
  color: var(--lavender);
}
