@layer base {

  /* Reset base styles */
  @import './destyle.css';

  /* Theme colors */
  :root {
    color-scheme: light dark;
  }

  :root[data-theme='light'] {
    --moon: #00060f;
    --moon-rgb: 0, 6, 15;
    --coral-rgb: 1, 137, 112;
    --coral: rgb(1, 137, 112);

    --ifm-navbar-link-hover-color: rgb(1, 137, 112) !important;
    --ifm-breadcrumb-color-active: rgb(1, 137, 112) !important;
    --ifm-tabs-color-active-border: rgb(1, 137, 112) !important;
    --ifm-menu-color-active: rgb(1, 137, 112) !important;
    --ifm-tabs-color-active: rgb(1, 137, 112) !important;
    --ifm-color-primary: rgb(1, 137, 112) !important;

    --ifm-color-emphasis-200: transparent !important;

    --ifm-card-background-color: rgba(26, 29, 28, .05) !important;
    --ifm-menu-color-background-hover: rgba(26, 29, 28, .05) !important;
    --ifm-menu-color-background-active: rgba(26, 29, 28, .05) !important;
  }

  :root[data-theme='dark'] {
    --moon: #ffffff;
    --moon-rgb: 255, 255, 255;
    --coral-rgb: 64, 233, 222;
    --coral: rgb(64, 233, 222);

    --ifm-navbar-link-hover-color: rgb(64, 233, 222) !important;
    --ifm-breadcrumb-color-active: rgb(64, 233, 222) !important;
    --ifm-tabs-color-active-border: rgb(64, 233, 222) !important;
    --ifm-menu-color-active: rgb(64, 233, 222) !important;
    --ifm-tabs-color-active: rgb(64, 233, 222) !important;
    --ifm-color-primary: rgb(64, 233, 222) !important;

    --ifm-color-emphasis-200: transparent !important;

    --ifm-card-background-color: rgba(26, 29, 28, .2) !important;
    --ifm-menu-color-background-hover:rgba(26, 29, 28, .2) !important;
    --ifm-menu-color-background-active: rgba(26, 29, 28, .2) !important;
  }

  ::-moz-selection {
    color: #47347e;
    background: #c8bfe3;
  }

  ::selection {
    color: #47347e;
    background: #c8bfe3;
  }

  /* Tags */
  html,
  body {
    width: 100%;
    min-height: 100vh;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  body {
    position: relative;
    -webkit-overflow-scrolling: touch;
  }

  .body-light-theme input::placeholder,
  .body-light-theme textarea::placeholder {
    color: #9ca3af;
  }

  .body-dark-theme input::placeholder,
  .body-dark-theme textarea::placeholder {
    color: #4b4f57;
  }

  *:focus {
    outline: none;
  }
  
  input,
  textarea,
  button,
  select {
    background: none;
    border: none;
    border-radius: 0;
  }
  
  legend,
  fieldset {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  button,
  input[type='button'] {
    text-align: center;
    user-select: none;
  }
  
  textarea {
    resize: none;
  }
  
  input::-webkit-contacts-auto-fill-button,
  select::-webkit-contacts-auto-fill-button,
  textarea::-webkit-contacts-auto-fill-button {
    visibility: hidden;
  }

  input:-webkit-autofill,
  select:-webkit-autofill,
  textarea:-webkit-autofill,
  input:-webkit-autofill:focus,
  select:-webkit-autofill:focus,
  textarea:-webkit-autofill:focus {
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0 100rem #fff;
  }
  
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
    -webkit-appearance: none;
    -moz-appearance: radio-container;
    appearance: normal;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  hr {
    height: 1px;
    border: none;
  }
  
  b,
  strong {
    font-weight: 600;
  }

  svg:not([fill]) {
    fill: currentColor;
  }
 
  svg:not(:root) {
    overflow: hidden;
  }
  
  :where([aria-busy='true' i]) {
    cursor: progress;
  }

  :where([aria-disabled='true' i], [disabled]) {
    cursor: not-allowed;
  }

  :where([aria-hidden='false' i][hidden]) {
    display: initial;
  }
  
  :where([aria-hidden='false' i][hidden]:not(:focus)) {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
}
