@use 'variables' as *;
@use 'mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital,wght@0,400;1,400&display=swap');

// Typography
html {
  scroll-behavior: smooth;
  font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
    BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 16px;
  font-variant: none;
  font-weight: 400;
}

p {
  line-height: 1.5rem;
  font-weight: 400;
}

h1, h3, h4, h5 {
  font-weight: 500;
  margin-bottom: 0;
}

h1 {
  font-size: 48px !important;
}

h2 {
  font-size: 30px !important;
  font-weight: 400;
  margin-bottom: 0;
}

h3 {
  font-size: 24px !important;
}

a {
  color: var(--moon);

  &:hover {
    color: var(--moon);
  }
}

.markdown a {
  color: var(--lavender);
}

// Lists
ul {
  list-style-type: disc;
  padding-left: 10px;
}

ol {
  list-style-type: decimal;
  padding-left: 10px;
}

// Horizontal rule
hr {
  border: none;
  border-top: 1px solid var(--lavender);
}

// Blockquote
blockquote {
  border-left: 2px solid #888888;
  margin-left: 0;
  padding-left: 16px;

  @include dark-theme {
    border-left-color: #999999;
  }
}

// Background gradient
body::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
  width: 100%;
  height: 100%;
  content: '';

  @include dark-theme {
    background-image: linear-gradient(171.89deg, #211e24, #3c3642 60%, #3e3947 72%, #45404e 84%, #464152);
  }

  @include light-theme {
    background-image: linear-gradient(171.89deg, #f4f1f8, #f4f1f8 60%, #eee9f6 78%, #ece7f4 90%, #e3dcf0);
  }
}

// Layout
.width-container {
  width: 100%;
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;

  @include tablet {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include mobile {
    padding-right: 24px;
    padding-left: 24px;
  }
}

// Code blocks
code[class*="language-bash"],
pre[class*="language-bash"],
.prism-code[class*="language-bash"],
.language-bash * {
  font-family: Fragment Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
}

// Crystal
.crystal-bg,
.crystal-bg-hovered {
  @include light-theme {
    box-shadow: 0 7px 12px 0 rgba($color-coal-rgb, .15);
    background: rgba($color-snow-rgb, .4);
    border: solid 1px rgba($color-snow-rgb, .2);
  }

  @include dark-theme {
    box-shadow: 0 7px 12px 0 rgba($color-coal-rgb, .35);
    background: rgba(82, 77, 87, .5);
    border: solid 1px rgba(82, 77, 87, .9);
  }
}

.crystal-bg-hovered {
  border-radius: 12px;
  backdrop-filter: blur(30px);
  transition: transform .3s cubic-bezier(0,0,.5,1);

  &:hover {
    transform: scale3d(1.01, 1.01, 1.01);
    text-decoration: none;
  }

  @include light-theme {
    &:hover {
      background: rgba($color-snow-rgb, .8);
      border: solid 1px rgba($color-snow-rgb, 1);
    }
  }

  @include dark-theme {
    &:hover {
      background: rgba(82, 77, 87, .8);
      border: solid 1px rgb(82, 77, 87);
    }
  }
}

// Footer
.footer {
  display: none;
}
