@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600,700&display=swap');

.bg-gradient {
  background-image: radial-gradient(50% 50% at 50% 40%, rgb(139 0 255 / 13%) 0%, rgb(255 255 255 / 0%) 100%);
}

.footer__link-item svg,
.navbar__link svg {
  display: none;
}

::-moz-selection {
  color: #47347e;
  background: #c8bfe3;
}

::selection {
  color: #47347e;
  background: #c8bfe3;
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
    BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 16px;
  font-variant: none;
  font-weight: 400;
}

html[data-theme='dark'] {
  --ifm-toc-border-color: #ffffff0d;
  --ifm-footer-background-color: #ffffff0d;
  --ifm-navbar-background-color: #ffffff0d;
  --ifm-global-shadow-md: 0 5px 4px rgba(255, 255, 255, 0.448);

  background-color: #181618;
}

html[data-theme='dark'] .alert--success {
  --ifm-tabs-color-active-border: #7fbc7f;
  --ifm-alert-background-color: #65cd6533;
}

html[data-theme='dark'] .alert--danger {
  --ifm-alert-background-color: #94595b6b;
}

html[data-theme='dark'] .alert--warning {
  --ifm-alert-background-color: #9490596b;
}

html[data-theme='light'] {
  --ifm-toc-border-color: #00060f0d;
  --ifm-footer-background-color: #00060f0d;
  --ifm-navbar-background-color: #00060f0d;

  background-color: #f1f2fd;
}

.markdown a {
  color: #3578e5;
}

p {
  line-height: 1.5rem;
  font-weight: 400;
}

hr {
  border-bottom-width: 0px;
  border-top-width: 1px;
  border-color: var(--ifm-color-emphasis-200);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 40px !important;
}

h2 {
  font-size: 32px !important;
}

h3 {
  font-size: 24px !important;
}

a {
  color: var(--moon);
}

a:hover {
  color: var(--moon);
}

.breadcrumbs,
.breadcrumbs__item {
  display: flex;
  align-items: center;
  justify-content: start;
}

.width-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 960px) {
  .navbar__toggle {
    margin-left: 16px;
  }

  .navbar__brand {
    margin-left: 16px;
  }

  html[data-theme='light'] .navbar-sidebar{
    background-color: #f1f2fd;
  }

  html[data-theme='dark'] .navbar-sidebar {
    background-color: #00060f;
  }

  .navbar-sidebar__items ul.menu__list {
    padding-left: 24px;
  }

  .navbar-sidebar {
    box-shadow: none;
    overflow: hidden;
    max-height: 100vh;
  }

  .width-container {
    padding-right: 12px;
    padding-bottom: 24px;
    padding-left: 12px;
  }
}

@media (min-width: 961px) {
  .navbar {
    padding: 0 24px;
    backdrop-filter: blur(6px);
  }

  .width-container {
    max-width: 1320px;
    padding-right: 60px;
    padding-bottom: 40px;
    padding-left: 60px;
  }
}
