.DocSearch-Modal {
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2) !important;
}

.DocSearch-Button-Key {
  background: var(--ifm-color-emphasis-200) !important;
  border: 1px solid var(--fog) !important;
  box-shadow: none !important;
}

.DocSearch-Screen-Icon {
  display: flex;
  justify-content: center;
}

.DocSearch-Footer {
  display: none !important;
}
